.section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  max-width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
  border: 1px solid rgb(206, 201, 201);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.title {
  margin: 0 0 20px;
}
